version: "3.9"

services:
  flask-app:
    image: jayantmule02/todo-app:latest
    container_name: flask-app
    environment:
      - MONGO_URI=mongodb://mongodb:27017/todo_database
    ports:
      - "5000:5000"
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - todo-app

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    volumes:
      - todo_database:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - todo-app

networks:
  todo-app:

volumes:
  todo_database:
